
@{

    ViewBag.Title = "DashBoard";
}
@*@if (Request.IsAuthenticated)
{

    Html.RenderPartial("~/Views/Shared/_userNavbar.cshtml");

}*@
    @*<h2>DashBoard</h2>*@

    <div class="row mt">
        <div class="col-md-3">
            <div class="white-panel pn donut-chart">
                <div class="white-header">
                    <h5><b><a href="#">@User.Identity.Name</a></b></h5>
                </div>
                <div class="media media-photo-block">
                    @*<a href="/users/show/22317732" title="View Profile"><img alt="Muhammad" class="img-responsive" height="209" src="https://a1.muscache.com/ic/users/22317732/profile_pic/1412848034/original.jpg?interpolation=lanczos-none&amp;crop=w:w;*,*&amp;crop=h:h;*,*&amp;resize=225:*&amp;output-format=jpg&amp;output-quality=70" title="Muhammad" width="290"></a>*@
                    @{
    FixturesVer1.Models.ImageViewModel image = @ViewBag.image;
    <a href="/users/Profile/" title="View Profile">
        @Html.Image(@Url.Content(image.src), image.altText,"190","290");
    </a>
}

                </div>
            </div>
        </div>
        @*<div class="col-md-offset-4">*@
        <div class="col-md-9 ">

            <div class="white-panel pn donut-chart">

                <div class="white-header">
                    <h5><b>Hi @User.Identity.Name, WELCOME TO FIXTURES...!</b></h5>
                </div>
                <p>This is your dashboard, the place to manage your rental, check messages in your inbox, respond to reservation requests, view upcoming trip information and much more. We highly recommended the following:</p>
                <a href="#">Edit your properties</a>
                <p>Update availability and pricing all of your properties</p>
                <a href="#">Get Help!</a>
                <p>View our Help section</p>
            </div>
        </div>
    </div>
    @*</div>*@

    <div class="row mt">
        <div class="col-md-offset-3">
            <div class="col-md-12">

                <div class="white-panel pn donut-chart">
                    <div class="white-header">
                        <h5>Alerts</h5>
                    </div>
                    <p>Please confirm your email address by clicking on the link we just emailed you. If you cannot find the email, you can <a href="#">request a new email address</a> or <a href="#">change your email address</a>. </p>
                </div>
            </div>
        </div>
    </div>