@model FixturesVer1.Models.User
@{
    ViewBag.Title = "Profile";
}


<div class="col-md-2">
    </br>
    </br>
    </br>
    <a href="#" style="color:black">Edit Profile</a></br></br>
    <a href="#" style="color:black">Reviews</a></br></br>
    <a href="#" style="color:black">References</a></br></br>
   
</div>

<div class="col-md-9">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Update Profile</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">

                    @Html.ValidationSummary(true)


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Password</span>
                                    @Html.TextBoxFor(model => model.usr_Password, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.usr_Password)
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Name</span>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.FirstName)
                            </div>
                        </div>
                    </div>



                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Last Name</span>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.LastName)
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Gender</span>
                                    @Html.TextBoxFor(model => model.Gender, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Gender)
                            </div>
                        </div>
                    </div>




                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">DOBLast Name</span>
                                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.BirthDate)
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Email ID</span>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">City</span>
                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.City)
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Country</span>
                                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Country)
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Phone No.#</span>
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="form-group">
                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                            <div class="col-md-10">
                                <div class="input-group">
                                    <span class="input-group-addon">Description</span>
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                </div>
                                @Html.ValidationMessageFor(model => model.Description)
                            </div>
                        </div>
                    </div>

                 


                    <div class="form-group">
                        <div class="col-md-10">
                            <input type="submit" value="Update" class="btn btn-default" />
                        </div>
                    </div>

                </div>
            </div>
        </div>




    }
</div>