@model FixturesVer1.Models.PropertyDetail

@{
    ViewBag.Title = "Property Detail";
}

<link href="~/Content/examples.css" rel="stylesheet" />

<style>
    p, li {
        color: #333333;
    }

    .galleria {
        width: 700px;
        height: 400px;
        background: #000;
    }

    .custom-header {
        margin-left: -15px;
        margin-right: -15px;
        height: 50px !important;
        background: #428bca !important;
    }

    .panel-heading {
        color: #333333;
        margin-top: 0px;
        font-size: 25px;
        font-weight: bolder;
    }
</style>

<input id="propertyID" type="hidden" value="@Model.PropertyId" />
<input id="propertyName" type="hidden" value="@Model.Title" />
<input id="locationLat" type="hidden" value="@Model.Latitude" />
<input id="locationLong" type="hidden" value="@Model.Longitude" />


<div id="property-overview-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="height: 100%; display: inline-block;">
    <div class="property-info" style="text-align: left;">
        <div class="col-md-7" style="margin-left: 40px;">
            <div class="col-md-6"><h4 style="color: #333333;">@Model.Title</h4></div>
            <div class="col-md-6"><h4 style="color: #333333;">@Model.Currency @Model.BasePrice</h4></div>
        </div>
        
        <div id="image-slider" class="galleria col-md-12" style="margin-left:65px;">
            @foreach (var image in ViewBag.imageList)
            {
                <img src="@image.src" />
            }
        </div>

        <div class="col-md-12" id="description-container" style="margin-top: 20px;">
            <div class='showback' style="height: 100%; width: 100%; display: inline-block; margin-top: 15px;">
                <div class="col-md-7">
                    <p style="color: #333333">@Model.Description</p>
                </div>
                <div class="col-md-5" style="height: 100%; width: 100%; display: inline-block;">
                    @if (@Model.Availability == "onetime")
                    {
                        <p style="color: #333333">Availablity: @Model.Availability</p><br />
                        <p style="color: #333333">From: @Model.AvailabilityFromDate</p>
                        <p style="color: #333333">From: @Model.AvailabilityToDate</p>
                    }
                    else if (@Model.Availability == "always")
                    {
                        <p style="color: #333333">Availablity: @Model.Availability</p><br />
                    }
                    else if (@Model.Availability == "sometime")
                    {
                        <p style="color: #333333">Availablity: @Model.Availability</p><br />
                        <p style="color: #333333">@Model.AvailabilityDateString</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="property-features-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="margin-top: 40px;">
    <div class="white-header custom-header">
        <h3 class="panel-heading">Features</h3>
    </div>
    <h3>Common Features</h3>
    <ul>
        @foreach (var feature in ViewBag.commonFacililities)
        {
           <li style="display: inline; list-style-type: none; padding-right: 20px;">@feature</li>
        }
    </ul>

    <h3>Extra Features</h3>
    <ul>
        @foreach (var feature in ViewBag.extraFacililities)
        {
            <li style="display: inline; list-style-type: none; padding-right: 20px;">@feature</li>
        }
    </ul>
</div>

<div id="locatain-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="height: 100%; display: inline-block; margin-top: 40px; text-align: left;">
    <div class="white-header custom-header">
        <h3 class="panel-heading">Location</h3>
    </div>
        <div id="map" style="height: 300px;">

        </div>
</div>

<div id="contact-owner-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="height: 300px; margin-top: 40px; text-align: left;">
    <div class="white-header custom-header">
        <h3 class="panel-heading">Contact Owner</h3>
    </div>
    <div>
        @Html.TextBox("Username", null, new { @id = "usernameTextBox", @class = "form-control", @placeholder="Enter your name", @style="margin-top: 15px;" })
        @Html.TextArea("Message", new { @id = "messageTextBox", @class = "form-control", @placeholder = "Your message", @style = "margin-top: 15px" })
        <input id="btnEmail" type="submit" class="btn btn-primary" value="Send Mail" style="margin-top: 15px;" />
    </div>
</div>

<div id="property-review-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="height:350px; margin-top: 40px; text-align:left;">
    <div class="white-header custom-header">
        <h3 class="panel-heading">Post Review</h3>
    </div>
    <div>
        <div class="input select rating-f">
            <select id="example-f" name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
        @Html.TextBox("Username", null, new { @id = "reviewUserTextBox", @class = "form-control", @placeholder = "Enter your name", @style = "margin-top: 15px;" })
        @Html.TextArea("Review", new { @id = "reviewTextBox", @class = "form-control", @rows = 6, @placeholder = "Review", @style = "margin-top: 15px" })
        <input id="btnSubmitReview" type="submit" class="btn btn-primary" value="Submit" style="margin-top: 15px;" />
    </div>
</div>

<div id="property-reviews-panel" class="white-panel pn col-md-8 col-lg-offset-2" style="height: 100%; display: inline-block; margin-top: 40px; text-align:left;">
    <div class="white-header custom-header">
        <h3 class="panel-heading">Property Reviews</h3>
       
        </div>
    <div class='showback review-panel' style="height: 100%; width: 100%; display: inline-block; margin-top: 15px;">
        <h3 style="color: #333333">There are currently no reviews for this property.</h3>
    </div>
</div>

<script src="~/Scripts/galleria-1.4.2.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="~/Scripts/jquery.barrating.js"></script>

<script>
    $(function () {
        Galleria.configure({
            lightbox: true
        });
        Galleria.loadTheme('/Content/galleria.classic.min.js');
        Galleria.run('.galleria');

        var latitude = $("#locationLat").val();
        var longitude = $("#locationLong").val();
        var myCenter = new google.maps.LatLng(latitude, longitude);
        var marker;

            var mapProp = {
                center: myCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP //HYBRID
            };

            map = new google.maps.Map(document.getElementById("map"), mapProp);

            var marker = new google.maps.Marker({
                position: myCenter,
                map: map,
                title: 'Location'
            });

        var getPropertyReviews = function () {
            propertyID = $("#propertyID").val();
            $.ajax({
                type: 'GET',
                url: '/Properties/GetReviews',
                dataType: 'json',
                data: {propertyID: propertyID},
                success: function (response) {
                    if (response.reviews) {
                        displayReviews(response.reviews);
                    }
                }
            });
        };

        getPropertyReviews();
        var displayReviews = function (reviews) {
            $(".review-panel").remove();
            var reviewsDiv = '';
            for (var i = 0; i < reviews.length; i++) {
                var date = new Date(parseFloat(reviews[i].DatePosted.substr(6)));
                date = (date.getMonth() + 1) + "/" +
                        date.getDate() + "/" +
                        date.getFullYear() + " " +
                        date.getHours() + ":" +
                        date.getMinutes() + ":" +
                        date.getSeconds();

                var reviewDiv = "<div class='showback review-panel' style='height: 150px; margin-top: 15px;'>"+
                                "<div class='review-body'>" +
                                    "<div class='col-md-5'>" +
                                        "<h2 style='padding: 0px 0px 0px 0px;'>"+ reviews[i].PostedBy +"</h2>" +
                                        "<h4 style='color: #333333'>" + reviews[i].ReviewRating + " stars</h4>" +
                                        "<h4 style='color: #333333'>" + date + "</h4>" +
                                    "</div>" +
                                        "<div class='col-md-7'><p>"+reviews[i].Body+"</p></div>" +
                                    "</div>"+
                                    "</div>";
                reviewsDiv += reviewDiv;
            }

            $('#property-reviews-panel').append(reviewsDiv).hide().fadeIn(500);
        }

        var rating;
        $('#example-f').barrating({
            showSelectedRating: false,
            onSelect: function (value, text) {
                rating = value;
            }
        });
       
        $("#btnEmail").click(function () {
            var propertyID = $("#propertyID").val();
            var username = $("#usernameTextBox").val();
            var message = $("#messageTextBox").val();

            $.ajax({
                type: 'POST',
                url: '/Properties/ContactOwner',
                dataType: 'json',
                data: {
                    propertyId: propertyID,
                    username: username,
                    message: message
                },
                success: function (response) {
                    if (response.messageIsSent) {
                        alert("Your message has been sent.");
                    }
                    else {
                        alert("Message could not be sent. Please try again.");
                    }
                }
            });
        });

        $("#btnSubmitReview").click(function () {
            var userName = $("#reviewUserTextBox").val();
            var review = $("#reviewTextBox").val();
            var propertyID = $("#propertyID").val();
            var propertyName = $("#propertyName").val();

            $.ajax({
                type: 'POST',
                url: '/Properties/SubmitReview',
                dataType: 'json',
                data: {
                    username: userName,
                    rating:  rating,
                    review: review,
                    propertyID: propertyID,
                    propertyName: propertyName
                },
                success: function (response) {
                    if (response.isReviewSubmitted) {
                        getPropertyReviews();
                    }
                    else {
                        alert("Review could not be submitted.");
                    }
                }
            });
        });
    })
</script>



