@using FixturesVer1.Utility;
@model IEnumerable<FixturesVer1.Models.Property>



<link href="~/Content/normalize.css" rel="stylesheet" />
<link href="~/Content/ion.rangeSlider.css" rel="stylesheet" />
<link href="~/Content/ion.rangeSlider.skinFlat.css" rel="stylesheet" />

<style>
    #filter-panel {
        margin-top: -20px;
        width: 100%;
        height: 150px;
        background: none;
        box-shadow: 0px 1px 0px #aab2bd;
    }

    #listing-panel {
        margin-left:230px;
    }

    .listing-item {
        margin-top: 20px;
        height: 120px;
        border-bottom: 1px solid #eaeaea;
    }

        .listing-item:hover {
            background-color: #D8D8D8;
        }

    .property-img {
        margin-top: 10px;
        margin-left: 5px;
        width: 100px;
        height: 100px;
    }

    .irs-bar {
        background: #428bca;
    }

    .irs-line {
        background: #888888;
    }
</style>


<div id="filter-panel" class="col-md-10">
    <div class="col-md-8 col-lg-offset-3" style="margin-top: 20px;">
        <div class="col-md-3">
            <h4>House</h4>
            @Html.CheckBox("house", new { @class = "propertyFilterCheckBox", @id = "house-checkBox", @style = "margin-left: 20px;" })
        </div>
        <div class="col-md-3">
            <h4>Shared Room</h4>
            @Html.CheckBox("shared-room", new { @class = "propertyFilterCheckBox", @id = "shared-room-checkBox", @style = "margin-left: 40px;" })
        </div>
        <div class="col-md-3">
            <h4>Aprartment</h4>
            @Html.CheckBox("apartment", new { @class = "propertyFilterCheckBox", @id = "apartment-checkBox", @style = "margin-left: 40px;" })
        </div>
    </div>
    <div class="col-lg-12">
        <div class="rangePanel col-lg-6" style="margin-left:270px;">
            <input type="text" id="range" value="" name="range" />
        </div>
    </div>
</div>


<div id="listing-panel" class="col-md-8">
    @foreach (var property in Model)
    {
        <div class="listing-item">
            <div class="row">
                <input class="btn btn-theme04 btnWishlist" type="submit" value="Add To Wish List" style="margin-top: 10px;" data-propid="@property.ID" />
                <div class="property-img-container col-md-2">
                    @{
                        
                    if(@property.ImagePath != null){
                    <img src="@Url.Content(@property.ImagePath)" class="property-img img-thumbnail">

                    string imagePath = @property.ImagePath;
                    
                      //Html.Image(@Url.Content(imagePath),"pic","300","300");

                     //   @Html.Image(@Url.Content(item.src), item.altText, "100","100")

                    }
                    else
                    {
                    <img src="~/Content/Images/ImgPlaceHolder.gif" class="property-img img-thumbnail">
                    }
                        
                    }
                  
                    
                    
                </div>
                <div class="property-desc-title col-md-7">
                    <a href="/Properties/Detail/?id=@property.ID"><h2>@property.Name, @property.Price</h2></a>
                </div>
                <div class="property-desc-detail col-md-7">
                    <h4>@property.Type. @property.Rating Reviews. @property.Location</h4>
                </div>
            </div>
        </div>
    }
</div>

<script src="~/Scripts/ion.rangeSlider.js"></script>

<script>
    $(function () {
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 9999999,
            from: 0,
            to: 9999999,
            type: 'double',
            step: 50000,
            prefix: "PKR",
            grid: true,
            onFinish: function () {
                getFiltertedProperties();
            }
        });

        $(".btnWishlist").click(function () {
            var thisButton = this;
            var propertyId = $(this).attr("data-propid");

            $.ajax({
                type: 'POST',
                url: '/Properties/AddToWishList',
                dataType: 'json',
                data: {
                    propertyId: propertyId
                },
                success: function (response) {
                    if (response.IsAddToWishList) {
                        alert("Property added to wish list.");
                        $(thisButton).attr("value", "Added to Wish List").attr('disabled','disabled');
                    }
                }
            });
        });

        $('.propertyFilterCheckBox').change(function () {
            getFiltertedProperties();
        });

        //$("#range").change(function () {
        //    getFiltertedProperties();
        //});

        var getFiltertedProperties = function () {
            var propertyTypeFilter = {
                house: '',
                sharedRoom: '',
                apartment: '',
                fromValue: 0,
                toValue: 9999999,
            };

            if ($('#house-checkBox').is(':checked')) {
                propertyTypeFilter.house = 'House';
            }
            if ($('#shared-room-checkBox').is(':checked')) {
                propertyTypeFilter.sharedRoom = 'Shared Room';
            }
            if ($('#apartment-checkBox').is(':checked')) {
                propertyTypeFilter.apartment = 'Apartment';
            }

            var sliderData = $("#range").data("ionRangeSlider");
            propertyTypeFilter.fromValue = sliderData.result.from;
            propertyTypeFilter.toValue = sliderData.result.to;

            $.ajax({
                type: 'GET',
                url: '/Properties/GetProperties',
                dataType: 'json',
                data: {
                    house: propertyTypeFilter.house,
                    sharedRoom: propertyTypeFilter.sharedRoom,
                    apartment: propertyTypeFilter.apartment,
                    fromValue: propertyTypeFilter.fromValue,
                    toValue: propertyTypeFilter.toValue
                },
                success: function (data) {
                    var properties = data.properties;
                    $('.listing-item').remove();
                    var propertiesDiv = '';
                    for (var i = 0; i < properties.length; i++) {
                        if (properties[i].ImagePath == null) {
                            properties[i].ImagePath = "/Content/Images/ImgPlaceHolder.gif";
                        }
                        var propertyDiv = "<div class='listing-item'>" +
                                          "<div class='row'>" +
                                          "<input class='btn btn-theme04 btnWishlist' type='submit' value='Add To Wish List' style='margin-top: 10px;' />" +
                                          "<input id='propertyId' type='hidden' value="+properties[i].ID+" />"+
                                          "<div class='property-img-container col-md-2'>" +
                                          "<img src="+properties[i].ImagePath+" class='property-img img-thumbnail'>" +
                                                "</div>" +
                                                "<div class='property-desc-title col-md-7'>" +
                                                    "<a href='/Properties/Detail/?id="+properties[i].ID+"'><h2>" + properties[i].Name + ", "+properties[i].Price+"</h2></a>" +
                                                "</div>" +
                                                "<div class='property-desc-detail col-md-7'>" +
                                                   "<h4>" + properties[i].Type + ". " + properties[i].Rating + " Reviews" + ". " + properties[i].Location + "</h4>" +
                                            "</div>" +
                                        "</div>" +
                                        "</div>";
                        propertiesDiv += propertyDiv;
                    }

                    $('#listing-panel').append(propertiesDiv).hide().fadeIn(500);


                }
            });
        };

        //var myCenter = new google.maps.LatLng(24.9400, 67.1200);
        //var marker;

        //function initialize() {
        //    var mapProp = {
        //        center: myCenter,
        //        zoom: 8,
        //        mapTypeId: google.maps.MapTypeId.ROADMAP //HYBRID
        //    };

        //    map = new google.maps.Map(document.getElementById("map"), mapProp);

        //    google.maps.event.addListener(map, 'click', function (event) {
        //        placeMarker(event.latLng);
        //    });
        //}

        //function placeMarker(location) {
        //    var marker = new google.maps.Marker({
        //        position: location,
        //        map: map,
        //    });
        //    var infowindow = new google.maps.InfoWindow({
        //        content: 'Latitude: ' + location.lat() + '<br>Longitude: ' + location.lng()
        //    });
        //    infowindow.open(map, marker);
        //}

        //google.maps.event.addDomListener(window, 'load', initialize);


    })
</script>