@model FixturesVer1.Models.PropertyDetail
@using FixturesVer1.Utility


@{
    ViewBag.Title = "ManageListing";
}

<link href="~/Content/acc-wizard.min.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="../Scripts/jquery-ui.min.js"></script>
<script src="../Scripts/jquery-ui.multidatespicker.js"></script>
<link href="~/Content/jquery.ui.plupload.css" rel="stylesheet" />
<script src="~/Scripts/plupload.full.min.js"></script>
<script src="~/Scripts/jquery.ui.plupload.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/gmap/css/demo.css" />
<link rel="stylesheet" type="text/css" href="~/Content/gmap/css/jquery-gmaps-latlon-picker.css" />
<script src="~/Content/gmap/js/jquery-gmaps-latlon-picker.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>

<style>
    .textareatags {
        resize: none;
        overflow-y: scroll;
        height: 100px;
        max-height: 100px;
        min-height: 100px;
    }
</style>


@using (Html.BeginForm("ManageListing", "Properties", FormMethod.Post, new { @id = "manageListingForm", @name = "ManageListing" }))
{
    @Html.AntiForgeryToken()


    <div class="row acc-wizard">
        <div class="col-md-3" style="padding-left: 2em;">
            <p style="margin-bottom: 2em;">
                Publish your listing by completing the following steps:
            </p>
            <ol class="acc-wizard-sidebar">
                <li class="acc-wizard-todo"><a href="#basics">Basics</a></li>
                <li class="acc-wizard-todo"><a href="#description">Description</a></li>
                <li class="acc-wizard-todo"><a href="#settings">Settings</a></li>
                <li class="acc-wizard-todo"><a href="#location">Location</a></li>
                <li class="acc-wizard-todo"><a href="#existingimages">Existing Images</a></li>
                <li class="acc-wizard-todo"><a href="#uploadimages">Upload Images</a></li>
            </ol>
        </div>
        <div class="col-md-9" style="padding-right: 2em;">
            <div id="accordion-demo" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#Property">
                                Property
                            </a>
                        </h4>
                    </div>

                    <div class="panel-body">
                        <div class="form-horizontal">



                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.ID, new { @id = "propertyDetailId" })

                            <div class="col-lg-6">

                                <div class="form-group">
                                    @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">@Html.DisplayNameFor(model => model.PropertyId)</span>

                                            @Html.TextBoxFor(model => model.PropertyId, new { @id = "propertyId", @class = "form-control", @disabled = "true" })

                                            @Html.HiddenFor(model => model.PropertyId)
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PropertyId)
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-6">

                                <div class="form-group">
                                    @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                    <div class="col-md-10">
                                        <div class="input-group">
                                            <span class="input-group-addon">@Html.DisplayNameFor(model => model.usr_Username)</span>

                                            @Html.TextBoxFor(model => model.usr_Username, new { @class = "form-control", @disabled = "true" })
                                            @Html.HiddenFor(model => model.usr_Username)
                                        </div>
                                        @Html.ValidationMessageFor(model => model.usr_Username)
                                    </div>
                                </div>
                            </div>


                            @*<div class="col-lg-6">

                                    <div class="form-group">

                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">@Html.DisplayNameFor(model => model.AdCompleted)</span>

                                                @Html.TextBoxFor(model => model.AdCompleted, new { @class = "form-control", @disabled = "true" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.AdCompleted)
                                        </div>
                                    </div>

                                </div>*@





                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-9" style="padding-right: 2em;">
            <div id="accordion-demo" class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#basics" data-parent="#accordion-demo" data-toggle="collapse">
                                Basics
                            </a>
                        </h4>
                    </div>
                    <div id="basics" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @*<form id="form-basics">*@

                            <div class="form-group">
                                <div class="col-md-10">
                                    <h3>Choose Availability of your property</h3>
                                    <br />
                                    <h4 id="availableLabel"></h4>
                                    @Html.HiddenFor(model => model.Availability, new { @id = "AvailabilityHdnTxt" })
                                    <div id="availabilityButtonList">
                                        @Html.Label("One Time")   @Html.RadioButtonFor(model => model.Availability, "onetime", new { @id="onetime" })
                                        <br />
                                        @Html.Label("Sometimes")  @Html.RadioButtonFor(model => model.Availability, "sometime", new { @id = "sometime" })
                                        <br />
                                        @Html.Label("Always")    @Html.RadioButtonFor(model => model.Availability, "everytime", new { @id = "everytime" })
                                    </div>
                                    @* @Html.Label("", "", new { @id = "availableLabel" })*@

                                </div>

                            </div>

                            <div class="row">
                                <div class="box" id="from--input" hidden="hidden">
                                    @* <input type="text" id="from-input">*@
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.AvailabilityFromDate)</span>

                                                    @Html.TextBoxFor(model => model.AvailabilityFromDate, new { @class = "form-control", id = "from-input" })
                                                    @Html.HiddenFor(model => model.AvailabilityFromDate)
                                                </div>
                                                @Html.ValidationMessageFor(model => model.AvailabilityFromDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="box" id="from--input2" hidden="hidden">
                                    @*<input type="text" id="from-input2">*@

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.AvailabilityToDate)</span>

                                                    @Html.TextBoxFor(model => model.AvailabilityToDate, new { @class = "form-control", id = "from-input2" })
                                                    @Html.HiddenFor(model => model.AvailabilityToDate)
                                                </div>
                                                @Html.ValidationMessageFor(model => model.AvailabilityToDate)
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="box" id="sometime--input" hidden="hidden">
                                    @* <input type="text" id="from-input">*@
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.AvailabilityDateString)</span>

                                                    @Html.TextBoxFor(model => model.AvailabilityDateString, new { @class = "form-control", @id = "sometime-input" })
                                                    @Html.HiddenFor(model => model.AvailabilityDateString)
                                                </div>
                                                @Html.ValidationMessageFor(model => model.AvailabilityDateString)
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <br />
                            <div class="form-group" id="btnSelectAgain" hidden="hidden">
                                <div class="col-md-10">
                                    <input id="toggleAvailabilityBtn" type="button" value="Select Again" class="btn btn-default" />
                                </div>
                            </div>





                            <div class="col-md-10">
                                <h3>Base Price</h3>
                            </div>
                        <br/>

                        <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">@Html.DisplayNameFor(model => model.BasePrice)</span>

                                                @Html.TextBoxFor(model => model.BasePrice, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.BasePrice)
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-6">

                                    <div class="form-group">
                                        @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">@Html.DisplayNameFor(model => model.Currency)</span>

                                                @Html.TextBoxFor(model => model.Currency, new { @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Currency)
                                        </div>
                                    </div>

                                </div>
                            </div>
                            @*</form>*@
                        </div> <!--/.panel-body -->
                    </div> <!-- /#prerequisites -->
                </div> <!-- /.panel.panel-default -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#description" data-parent="#accordion-demo" data-toggle="collapse">
                                Description
                            </a>
                        </h4>
                    </div>
                    <div id="description" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @*<form id="form-description">*@

                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Title)</span>

                                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Title)
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Description)</span>

                                                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Description)
                                            </div>
                                        </div>

                                    </div>

                                </div>







                                @*</form>*@
                            </div>
                        </div> <!--/.panel-body -->
                    </div> <!-- /#addwizard -->
                </div> <!-- /.panel.panel-default -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#settings" data-parent="#accordion-demo" data-toggle="collapse">
                                Settings
                            </a>
                        </h4>
                    </div>
                    <div id="settings" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @*<form id="form-settings">*@
                            <div class="col-lg-6">
                                <h3>
                                    Common Facilities
                                </h3>


                                <div class="row">
                                    <div class="form-group">
                                        @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">@Html.DisplayNameFor(model => model.CommonFacilities)</span>

                                                @Html.TextAreaFor(model => model.CommonFacilities, new { @class = "form-control textareatags", @id = "commonFacilitiesTxt", @readonly = true })
                                                @Html.HiddenFor(model => model.CommonFacilities, new { @id = "commonFacilitiesHdnTxt" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.CommonFacilities)
                                        </div>
                                    </div>

                                </div>


                                <div class="col-md-10">
                                    @* <textarea class="textfield" id="commonFacilitiesTxt" name="CommonFacilities"></textarea>*@
                                    <div class="taglist1">
                                        <div class="row"><label><input type="checkbox" value="Essentials">Essentials</label></div>
                                        <div class="row">
                                            <label><input type="checkbox" value="TV">TV</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Cable TV">Cable TV</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Air Conditioning">Air Conditioning</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Heating">Heating</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Kitchen">Kitchen</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Internet">Internet</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Wireless Internet">Wireless Internet</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6">
                                <h3>
                                    Extra Facilities
                                </h3>

                                <div class="row">
                                    <div class="form-group">
                                        @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                        <div class="col-md-10">
                                            <div class="input-group">
                                                <span class="input-group-addon">@Html.DisplayNameFor(model => model.ExtraFacilities)</span>

                                                @Html.TextAreaFor(model => model.ExtraFacilities, new { @class = "form-control textareatags", @id = "extraFacilitiesTxt", @readonly = true })
                                                @Html.HiddenFor(model => model.ExtraFacilities, new { @id = "extraFacilitiesHdnTxt" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ExtraFacilities)
                                        </div>
                                    </div>
                                </div>

                                @* <textarea class="textfield" id="extraFacilitiesTxt" name="ExtraFacilities"></textarea>*@
                                <div class="col-md-10">
                                    <div class="taglist2">
                                        <div class="row">
                                            <label><input type="checkbox" value="Hot Tub">Hot Tub</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Washer">Washer</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Cable TV">Cable TV</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Pool">Pool</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Dryer">Dryer</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Breakfast">Breakfast</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Free Parking on Premises">Free Parking on Premises</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Gym">Gym</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Elevator in Building">Elevator in Building</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Wireless Intercom">Wireless Intercom </label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Doorman">Doorman</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Shampoo">Shampoo</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Smoking Allowed">Smoking Allowed </label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Pets Allowed">Pets Allowed</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Wheelchair Accessible">Wheelchair Accessible</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Smoke Detector">Smoke Detector</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="First Aid Kit">First Aid Kit</label>
                                        </div>
                                        <div class="row">
                                            <label><input type="checkbox" value="Fire Extinguisher">Fire Extinguisher</label>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*</form>*@
                        </div> <!--/.panel-body -->
                    </div> <!-- /#adjusthtml -->
                </div> <!-- /.panel.panel-default -->

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#location" data-parent="#accordion-demo" data-toggle="collapse">
                                Location
                            </a>
                        </h4>
                    </div>
                    <div id="location" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @*<form id="form-location">*@

                             
                                <fieldset class="gllpLatlonPicker">
                                    <div class="col-lg-12">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayName("Search")</span>

                                                    @Html.TextBox("searchField", "", new { @class = "form-control gllpSearchField" })
                                                </div>

                                            </div>


                                            <div class="col-md-1">
                                                <input type="button" value="search" class="btn btn-default gllpSearchButton" />
                                            </div>


                                            <div class="col-md-1">
                                                <input type="button" value="update map" class="btn btn-default gllpUpdateButton" />
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-lg-12">

                                        <div class="col-lg-6">
                                            <div class="gllpMap">Google Maps</div>

                                        </div>

                                        @*<input type="text" class="gllpSearchField">*@
                                        @*<input type="button" class="gllpSearchButton" value="search">*@
                                        <br /><br />
                                        <br />
                                        @*<br />
            lat/lon:
            <input id="latTxt" type="text" class="gllpLatitude" value="20" />
            /
            <input id="longTxt" type="text" class="gllpLongitude" value="20" />
            zoom: <input id="zoomTxt" type="text" class="gllpZoom" value="3" />*@


                                        @* <input type="button" class="gllpUpdateButton" value="update map">*@


                                        <div class="col-lg-3">

                                            <div class="form-group">
                                                @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.Longitude)</span>

                                                        @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control gllpLongitude", @id = "longTxt" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Longitude)
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-lg-3">

                                            <div class="form-group">
                                                @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.Latitude)</span>

                                                        @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control gllpLatitude", @id = "latTxt" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Latitude)
                                                </div>
                                            </div>

                                        </div>


                                        <div class="col-lg-3">

                                            <div class="form-group">
                                                @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                                <div class="col-md-10">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">@Html.DisplayNameFor(model => model.MapZoom)</span>

                                                        @Html.TextBoxFor(model => model.MapZoom, new { @class = "form-control gllpZoom", @id = "zoomTxt" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.MapZoom)
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                               

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Country)</span>

                                                    @Html.TextBoxFor(model => model.Country, new { @class = "form-control", @id = "countryTxt" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Country)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.City)</span>

                                                    @Html.TextBoxFor(model => model.City, new { @class = "form-control", @id = "cityTxt" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.City)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.StreetAddress1)</span>

                                                    @Html.TextBoxFor(model => model.StreetAddress1, new { @class = "form-control", @id = "addressTxt" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.StreetAddress1)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.StreetAddress2)</span>

                                                    @Html.TextBoxFor(model => model.StreetAddress2, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.StreetAddress2)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.State)</span>

                                                    @Html.TextBoxFor(model => model.State, new { @class = "form-control", @id = "stateTxt" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.State)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.ZipCode)</span>

                                                    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ZipCode)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-lg-6">

                                        <div class="form-group">
                                            @*  @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })*@
                                            <div class="col-md-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon">@Html.DisplayNameFor(model => model.Directions)</span>

                                                    @Html.TextBoxFor(model => model.Directions, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.Directions)
                                            </div>
                                        </div>

                                    </div>






                                    @*</form>*@
                                </div>
                        </div> <!--/.panel-body -->
                    </div> <!-- /#adjusthtml -->
                </div> <!-- /.panel.panel-default -->


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#existingimages" data-parent="#accordion-demo" data-toggle="collapse">
                                Existing Images
                            </a>
                        </h4>
                    </div>
                    <div id="existingimages" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @*<form id="form-location">*@

                                @{

    foreach (FixturesVer1.Models.ImageViewModel item in ViewBag.imageList)
    {
        @Html.Image(@Url.Content(item.src), item.altText, "100")
    }

                                }

                                @*</form>*@
                            </div>
                        </div> <!--/.panel-body -->
                    </div> <!-- /#adjusthtml -->
                </div> <!-- /.panel.panel-default -->



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="#uploadimages" data-parent="#accordion-demo" data-toggle="collapse">
                                Images
                            </a>
                        </h4>
                    </div>
                    <div id="uploadimages" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="form-horizontal">
                                @*<form id="form-location">*@

                                <div id="uploader">
                                    <p>Your browser doesn't have Flash, Silverlight or HTML5 support.</p>

                                </div>
                                <br />
                                @*   <input type="submit" value="Submit" />*@


                                @*</form>*@
                            </div>
                        </div> <!--/.panel-body -->
                    </div> <!-- /#adjusthtml -->
                </div> <!-- /.panel.panel-default -->

            </div>

            <div class="form-horizontal">




                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>

    </div>


}


<script src="~/Scripts/acc-wizard.js"></script>


<script>
    function onNext(parent, panel) {
        hash = "#" + panel.id;
        $(".acc-wizard-sidebar", $(parent))
            .children("li")
            .children("a[href='" + hash + "']")
            .parent("li")
            .removeClass("acc-wizard-todo")
            .addClass("acc-wizard-completed");
    }
    $(window).load(function () {
        $(".acc-wizard").accwizard({ onNext: onNext });



    })




    $(document).ready(function () {

        function updateTextArea1() {
            var allVals = [];
            $('.taglist1 :checked').each(function (i) {

                allVals.push((i != 0 ? ",\r\n" : "") + $(this).val());
            });
            $('#commonFacilitiesTxt').html(allVals).attr('rows', allVals.length);
            $('#commonFacilitiesHdnTxt').val(allVals).attr('rows', allVals.length);

        }
        $(function () {
            $('.taglist1 input').click(updateTextArea1);
            // updateTextArea1();
        });






        function updateTextArea2() {
            var allVals = [];
            $('.taglist2 :checked').each(function (i) {

                allVals.push((i != 0 ? ",\r\n" : "") + $(this).val());
            });
            $('#extraFacilitiesTxt').html(allVals).attr('rows', allVals.length);
            $('#extraFacilitiesHdnTxt').val(allVals).attr('rows', allVals.length);
        }

        $(function () {
            $('.taglist2 input').click(updateTextArea2);
            //updateTextArea2();

        });


        $("#toggleAvailabilityBtn").click(function () {
            $("#from--input").hide();
            $("#from--input2").hide();
            $("#sometime--input").hide();
            $("#availabilityButtonList").toggle();
            console.log("Exiting click event");
            $('#from-input').multiDatesPicker('resetDates');
            $('#from-input2').multiDatesPicker('resetDates');
            $('#sometime-input').multiDatesPicker('resetDates');
            $("#availableLabel").text("Choose Availablity type");
        });


        $("input[name='Availability']:radio").change(function () {
            var dateString = $("#sometime-input").val();

            console.log("Radio changed event called");
            var selectedAvailability = $("input[name='Availability']:checked").val();
            console.log(selectedAvailability);
            $("#toggleAvailabilityBtn").show();
            $("#btnSelectAgain").show();
            if (selectedAvailability == "onetime") {
                $("#AvailabilityHdnTxt").val("onetime");
                $("#availableLabel").text("Availability: One Time");
                $("#availabilityButtonList").toggle();

                $('#from--input').show()
                $('#from--input2').show();
                $('#sometime--input').hide();
                $('#from-input').multiDatesPicker({ maxPicks: 1 });
                $('#from-input2').multiDatesPicker({ maxPicks: 1 });


            }
            else if (selectedAvailability == "sometime") {
                $("#AvailabilityHdnTxt").val("sometime");
                $("#availableLabel").text("Availability: Sometime");
                $("#availabilityButtonList").toggle();
                $('#from--input').hide();
                $('#from--input2').hide();
                $('#sometime--input').show();
                console.log(dateString);
                $('#sometime-input').multiDatesPicker('addDates', dateString);
                $('#sometime-input').multiDatesPicker({ maxPicks: 365 });

            }
            else if (selectedAvailability == "everytime") {
                $("#AvailabilityHdnTxt").val("everytime");
                $("#availableLabel").text("Availability: Always");
                $("#availabilityButtonList").toggle();
                $("#from--input").hide();
                $("#from--input2").hide();
                $('#sometime--input').hide();
            }


        })

        $("#uploader").plupload({
            // General settings
            runtimes: 'html5,flash,silverlight,html4',

            // Fake server response here
            // url : '../upload.php',
            url: "/Properties/UploadImages",

            // Maximum file size
            max_file_size: '1000mb',

            // User can upload no more then 20 files in one go (sets multiple_queues to false)
            max_file_count: 20,

            chunk_size: '1mb',

            // Resize images on clientside if we can
            resize: {
                width: 200,
                height: 200,
                quality: 90,
                crop: true // crop to exact dimensions
            },

            // Specify what files to browse for
            filters: [
                { title: "Image files", extensions: "jpg,gif,png" },
                { title: "Zip files", extensions: "zip,avi" }
            ],

            // Rename files by clicking on their titles
            rename: true,

            // Sort files
            sortable: true,

            // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
            dragdrop: true,

            // Views to activate
            views: {
                list: true,
                thumbs: true, // Show thumbs
                active: 'thumbs'
            },

            multipart_params: {
                "propertyId": $("#propertyId").val(),
                "propertyDetailId": $("#propertyDetailId").val()
            },

            // Flash settings
            flash_swf_url: 'http://rawgithub.com/moxiecode/moxie/master/bin/flash/Moxie.cdn.swf',

            // Silverlight settings
            silverlight_xap_url: 'http://rawgithub.com/moxiecode/moxie/master/bin/silverlight/Moxie.cdn.xap'
        });


        // Handle the case when form was submitted before uploading has finished
        $('#manageListingForm').submit(function (e) {
            // Files in queue upload them first
            if ($('#uploader').plupload('getFiles').length > 0) {

                // When all files are uploaded submit form
                $('#uploader').on('complete', function () {
                    $('#form')[0].submit();
                });

                $('#uploader').plupload('start');
                return false; // Keep the form from submitting
            }
            //else {
            //    alert("You must have at least one file in the queue.");
            //}

        });



        var latitude = $("#latTxt").val();
        var longitude = $("#longTxt").val();
        var zoomLevel = $("#zoomTxt").val();

        console.log("Latitude " + latitude);
        console.log("Longitude " + longitude);
        console.log("Zoom " + zoomLevel);
   
    $('#latTxt').on('input propertychange paste', function () {

        var latitude = $("#latTxt").val();
        var longitude = $("#longTxt").val();
        var zoomLevel = $("#zoomTxt").val();
        console.log("Latitude " + latitude);
        console.log("Longitude " + longitude);
        console.log("Zoom " + zoomLevel);

        // "#longTxt", "#zoomTxt"

    });

    });


</script>
